/* ----------======  Global Styles  ======---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: #1DD100;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}


/* ----------======  My more CSS styles  ======---------- */
.btn-custom{
    background-color: var(--color);
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.btn-custom:hover{
    background-color: #3de623;
}
.title{
    font-size: 38px;
}



/* ----------======  Header Section Desing  ======---------- */
.header .navbar h2{
    font-size: 38px;
}
.header .navbar ul li{
    padding: 0 16px;
}

.header .navbar .btn-bus{
    font-size: 18px;
    background-color: #d3f5cf;
    padding: 14px 22px;
    border: 1px solid #1DD100;
    color: #1DD100;
}
/* ----------======  Banner Section Desing  ======---------- */
.banner .col-md-12{
    background: url('../img/banner.png') no-repeat center center;
    background-size: cover;
    padding: 130px 0;
}
.banner h2{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.banner p{
    width: 700px;
    color: white;
    margin: auto;
    padding: 20px 0;
}


/* ----------======  Offer Section Desing  ======---------- */

.offer .item{
    background-color: #FFBF0F;
    padding: 40px 30px;
    border-radius: 20px;
}
.offer .item h2{
    font-weight: 600;
}

.offer{
    padding: 80px 0;
}





.booking{
    background-color: #F7F8F8;
    padding: 80px 0;
}
.booking .d-flex i{
    font-size: 30px;
    margin-right: 20px;
    margin-top: 5px;
}
.booking h4{
    font-size: 28px;
    font-weight: 600;
}
.box{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
.booking .set{
    background-color: #F7F8F8;
    width: 110px;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}
.booking .able i{
    font-size: 20px;
    margin-right: 10px;
}
.booking .all-set span{
    margin-top: 20px;
    margin-right: 10px;
}
.booking .price-box{
    background-color: #F7F8F8;
    padding: 20px;
    border-radius: 8px;
}
.totalset{
    background-color: var(--color);
    padding: 0 10px;
    color: white;
    border-radius: 8px;
}
.boxtitle, .total{
    font-size: 18px;
    font-weight: 600;
}
.booking .time-btn{
    background-color: gray;
    color: white;
}




/* ----------======  Footer Section Design  ======---------- */
footer{
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 20px;
}
footer p{
    margin-bottom: 0;
}



@media screen and (max-width: 768px) {
    .booking .set{
        width: 80px;
    }
    .banner p{
        width: 400px;
        color: white;
        margin: auto;
        padding: 20px 0;
    }
    .text-end{
        text-align: center;
        align-items: center;
    }
}